In [23]:
import pandas as pd
import numpy as np

In [41]:
df = pd.read_csv('data/b2/bitter.csv')

In [42]:
df = df.rename(columns={'Peptide sequence': 'seq'})
df = df[['seq']]
df['taste'] = 1

In [45]:
df

               seq  taste
0          RPKHPIK      1
1        RPKHPIKHQ      1
2    RPKHPIKHQGLPQ      1
3             EVLN      1
4            NENLL      1
..             ...    ...
230            GGY      1
231            YYG      1
232            YGY      1
233            LGG      1
234            GRP      1

[235 rows x 2 columns]

In [53]:
df.seq = df.seq.apply(lambda x: ' '.join( list(x) ) )

In [49]:
' '.join( df.iloc[1].seq.split('') )

ValueError: empty separator

In [52]:
df.iloc[1].seq.split(' ')

['RPKHPIKHQ']

In [54]:
df

                           seq  taste
0                R P K H P I K      1
1            R P K H P I K H Q      1
2    R P K H P I K H Q G L P Q      1
3                      E V L N      1
4                    N E N L L      1
..                         ...    ...
230                      G G Y      1
231                      Y Y G      1
232                      Y G Y      1
233                      L G G      1
234                      G R P      1

[235 rows x 2 columns]